

/*images------------------------------------*/

body{
	font-family: 'Arbutus Slab', serif;
	margin: 0px;
}


/* grid format */

div{
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-around;

}


#window{
  display: grid;
  grid-template-columns:1fr;
	grid-gap:1em;
}


.row-top{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-auto-rows: minmax(100px,auto);
	grid-gap: 3em;
	justify-self: center;

}

.row-bottom{
	  display: grid;
	  grid-template-columns:1fr 1fr 1fr;
	  grid-auto-rows: minmax(100px,auto);
		grid-gap: 3em;
		justify-self: center;

	}

.image-link {
	position: absolute;
	text-decoration: none;
}

.name{
	margin: 4em;
}

.monogram {
	width: 150px;
	position: absolute;
}

.row-top{
	margin-top: 0px;	
}

img{
	max-width: 100%;

}


.greyout:hover{
	opacity: 0.3;
}

.name-background{
	opacity: 0.2;
}

@media only screen and (max-width: 1370px){

  #window{
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-auto-rows: minmax(100px,auto);
    /* grid-column-gap:1em;
    grid-row-gap: 1em; */
    grid-column-gap:1em;

}

.monogram {
	grid-column: 1/3;
	grid-row: 1;
}

.name{
	grid-column: 1/3;
	grid-row: 1;
	font-size: 100%;
}


	.row-top {
		  display: grid;
		  grid-template-columns:1fr;
		  grid-auto-rows: minmax(100px,auto);
			grid-gap: 3em;
			justify-self: center;

		}

		.row-bottom{
			  display: grid;
			  grid-template-columns:1fr ;
			  grid-auto-rows: minmax(100px,auto);
				grid-gap: 3em;
				justify-self: center;

			}

}


@media only screen and (max-width: 825px){

  #window{
    display: grid;
    grid-template-columns:1fr;
    grid-auto-rows: minmax(100px,auto);
    /* grid-column-gap:1em;
    grid-row-gap: 1em; */
    grid-column-gap:1em;

}

.monogram {
	grid-column: 1/2;
	grid-row: 2;
	position: relative;
	justify-self: center;

}

.name{
	grid-column: 1/2;
	grid-row: 1;
	font-size: 50%;
}


.row-top {
	  display: grid;
	  grid-template-columns:1fr;
	  grid-auto-rows: minmax(100px,auto);
		grid-gap: 3em;
		justify-self: center;

	}

.row-bottom{
	  display: grid;
	  grid-template-columns:1fr ;
	  grid-auto-rows: minmax(100px,auto);
		grid-gap: 3em;
		justify-self: center;

	}

}




/*text--------------------------------------*/

/* places name ontop of photos  */

.name-top{
	position: absolute;
	text-align: center;
	width: 100%;
	font-size: 500%;
	margin-top: 0;
}

ul {
		display: flex;
		position: absolute;
    /* width: 100%; */
		justify-content: center;
		align-items: center;
		justify-content: space-around;
		list-style-type: none;
		padding-left: 0px;
}

.text-top{
	z-index: 1;
	font-size: 190%;
	color: white;
}

li a{
	text-decoration: none;
}

a:hover {
	color: black;
}
