

/*images------------------------------------*/

body{
	/* font-family: 'Arbutus Slab', serif; */
	font-family: 'Muli', sans-serif;
	margin: 0px;
}

.logo-link {
	margin-left: auto;
	margin-right: auto;
}

/* grid format */

div{
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-around;

}


#window{
  display: grid;
  grid-template-columns:1fr;
	grid-gap:1em;
}


.row-top{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-auto-rows: minmax(100px,auto);
	grid-gap: 1.5em;
	justify-self: center;

}

.row-mid{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-auto-rows: minmax(100px,auto);
	grid-gap: 1.5em;
	justify-self: center;

}


.row-bottom{
  display: grid;
  grid-template-columns:1fr ;
	grid-template-rows: 1fr;
  grid-auto-rows: minmax(100px,auto);
	grid-gap: 1.5em;
	justify-self: center;

}

/* a{
	grid-column: 1;
	grid-row: 1;
} */

.monogram {
	width: 150px;
}

.monogram:hover{
	opacity: .5;
}

img{
	max-width: 100%;

}


.greyout:hover{
	opacity: 0.3;
}

.name-background{
	opacity: 0.2;
}


.bottom-img{
	grid-column: 1;

}


@media only screen and (max-width: 890px){

  #window{
    display: grid;
    grid-template-columns:1fr;
    grid-auto-rows: minmax(100px,auto);
    /* grid-column-gap:1em;
    grid-row-gap: 1em; */
    grid-column-gap:1em;
}

.bottom-img{
	grid-column: 1;

}

.row-top {
	  display: grid;
	  grid-template-columns:1fr;
	  grid-auto-rows: minmax(100px,auto);
		grid-gap: 1.5em;
		justify-self: center;

	}

.row-bottom {
		display: grid;
		grid-template-columns:1fr;
		grid-auto-rows: minmax(100px,auto);
		grid-gap: 1.5em;
		justify-self: center;

	}

}

/*text--------------------------------------*/

/* places name ontop of photos  */

.name-top{
	position: absolute;
	text-align: center;
	width: 100%;
	font-size: 350%;
	margin-top: 0;
}
