

/*images------------------------------------*/

body{
	font-family: 'Muli', sans-serif;
	/* font-family: 'Arbutus Slab', serif; */
	margin: 0px;
	/* background-color: #303030 */
}

.logo-link {
	margin-left: auto;
	margin-right: auto;
}

/* grid format */

div{
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-around;

}


#window{
  display: grid;
  grid-template-columns:1fr;
	grid-gap:1em;
}


.row-top{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-auto-rows: minmax(100px,auto);
	grid-gap: 1.5em;
	justify-self: center;

}

#words{
	display: grid;
	grid-template-columns:1fr 1fr 40%;
	margin-top: 1em;
	margin-left: 8em;
	margin-right: 8em;
	font-size: 85%;
	/* background-color: #303030; */
}

.info{
	grid-column: 3;
	grid-row: 1;
}

.disclaimer{
	grid-column: 3;
	grid-row: 2;

}



.monogram {
	width: 150px;
}

img{
	max-width: 100%;

}

.greyout:hover{
	opacity: 0.3;
}

.name-background{
	opacity: 0.2;
}

h3{
	font-size: 75%;
}




@media only screen and (max-width: 1000px){

  #window{
    display: grid;
    grid-template-columns:1fr;
    grid-auto-rows: minmax(100px,auto);
    /* grid-column-gap:1em;
    grid-row-gap: 1em; */
    grid-column-gap:1em;

}

.row-top {
	  display: grid;
	  grid-template-columns:1fr;
	  grid-auto-rows: minmax(100px,auto);
		grid-gap: 1.5em;
		justify-self: center;

	}

	#words{
		display: grid;
		grid-template-columns:1fr 50% 1fr;
		margin-top: 1em;
		/* margin-left: 3em;
		margin-right: 3em; */
		font-size: 85%;
		/* background-color: #303030; */
	}

	.info{
		grid-column: 2;
		grid-row: 1;
	}


}


@media only screen and (max-width: 850px){

	#words{
		display: grid;
		grid-template-columns:1fr 60% 1fr;
		margin-top: 1em;
		margin-left: 3em;
		margin-right: 3em;
		font-size: 85%;
		/* background-color: #303030; */
	}

	.info{
		grid-column: 2;
		grid-row: 1;
	}

}

@media only screen and (max-width: 570px){

	#words{
		display: grid;
		grid-template-columns:1fr 80% 1fr;
		margin-top: 1em;
		/* margin-left: 1em;
		margin-right: 1em; */
		font-size: 85%;
		/* background-color: #303030; */
	}

	.info{
		grid-column: 2;
		grid-row: 1;
	}


}

/*text--------------------------------------*/

/* places name ontop of photos  */
