

/*images------------------------------------*/

body{
	font-family: 'Arbutus Slab', serif;
	margin: 0px;
}

.logo-link {
	z-index: 1;
	grid-column: 1;
	grid-row: 1;
}

/* grid format */

div{
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-around;

}


#window{
  display: grid;
  grid-template-columns:1fr;
	grid-gap:1em;
}


.row-top{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-auto-rows: minmax(100px,auto);
	grid-gap: 3em;
	justify-self: center;

}

.row-mid{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-auto-rows: minmax(100px,auto);
	grid-gap: 3em;
	justify-self: center;

}


.row-bottom{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-auto-rows: minmax(100px,auto);
	grid-gap: 3em;
	justify-self: center;

}

/* a{
	grid-column: 1;
	grid-row: 1;
} */

.name{
	margin: 4em;
}

.monogram {
	width: 150px;
	position: absolute;
}

img{
	max-width: 100%;

}


.greyout:hover{
	opacity: 0.3;
}

.name-background{
	opacity: 0.2;
}





@media only screen and (max-width: 1000px){

  #window{
    display: grid;
    grid-template-columns:1fr;
    grid-auto-rows: minmax(100px,auto);
    /* grid-column-gap:1em;
    grid-row-gap: 1em; */
    grid-column-gap:1em;

}


.monogram {
	grid-column: 1/2;
	grid-row: 2;
	position: relative;
	justify-self: center;

}

.logo-link {
	grid-column: 1/2;
	grid-row: 2;
	position: relative;
	justify-self: center;
}

.name{
	grid-column: 1/2;
	grid-row: 1;
	font-size: 50%;
}


	.row-top {
		  display: grid;
		  grid-template-columns:1fr;
		  grid-auto-rows: minmax(100px,auto);
			grid-gap: 3em;
			justify-self: center;

		}


}


/*text--------------------------------------*/

/* places name ontop of photos  */

.name-top{
	position: absolute;
	text-align: center;
	width: 100%;
	font-size: 350%;
	margin-top: 0;
}
